# Import Libraries

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib 
%matplotlib inline

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge

from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

import warnings
warnings.filterwarnings('ignore')

import pickle
import json

# 2. Problem Statement

In [ ]:
To Predict house rent price of Pune

# 3. Data Gathering

In [20]:
df = pd.read_csv('Pune_rent.csv')
df.head()

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom
0,OWNER,1,BHK,Independent Floor,Mundhwa,"6,750",450,Unfurnished,1
1,OWNER,2,BHK,Apartment,Wakad,"18,000",916,Unfurnished,2
2,OWNER,3,BHK,Apartment,Wagholi,"16,500",1085,Semi-Furnished,3
3,OWNER,1,RK,Studio Apartment,Kothrud,"8,000",250,Furnished,1
4,OWNER,2,BHK,Apartment,Yerawada,"25,000",1005,Semi-Furnished,2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   seller_type    22800 non-null  object
 1   bedroom        22800 non-null  int64
 2   layout_type    22800 non-null  object
 3   property_type  22800 non-null  object
 4   locality       22800 non-null  object
 5   price          22800 non-null  object
 6   area           22800 non-null  int64
 7   furnish_type   22800 non-null  object
 8   bathroom       22629 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.6+ MB

In [22]:
df = df.drop(['seller_type',],axis= 1)

# EDA

In [5]:
df['locality'].value_countscounts()

Wagholi           2169
Hinjewadi         1457
Wakad             1259
Kharadi           1220
Hadapsar          1135
                  ...
Sindhi Colony        1
Kalwad               1
Baderaj Colony       1
Marunji Road         1
Aundh Gaon           1
Name: locality, Length: 459, dtype: int64

In [33]:
df['price'] = df['price'].apply(lambda x : np.NAN if x == str else x)
df['price'].isna().sum()

0

In [34]:
df['price'].astype(float)

ValueError: could not convert string to float: '6,750'